Repository ComPWA/PWA-pages: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, update-json-schema

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "MAINT: update pip constraints and pre-commit"
  autoupdate_schedule: quarterly # already done by requirements-cron.yml
  skip:
    - check-jsonschema
    - mypy
    - prettier
    - pyright
    - taplo
    - update-json-schema

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args:
          - --extra-keys
          - |
            cell.attachments
            cell.metadata.code_folding
            cell.metadata.id
            cell.metadata.pycharm
            cell.metadata.user_expressions
            metadata.celltoolbar
            metadata.colab.name
            metadata.colab.provenance
            metadata.interpreter
            metadata.notify_time
            metadata.toc
            metadata.toc-autonumbering
            metadata.toc-showcode
            metadata.toc-showmarkdowntxt
            metadata.toc-showtags
            metadata.varInspector
            metadata.vscode

  - repo: https://github.com/ComPWA/policy
    rev: 0.3.1
    hooks:
      - id: check-dev-files
        args:
          - --ci-skipped-tests=all
          - --no-macos
          - --no-prettierrc
          - --pin-requirements=bimonthly
          - --repo-name=PWA-pages
          - --repo-title=PWA Pages
      - id: colab-toc-visible
      - id: fix-nbformat-version

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.1
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter]
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            .*\.bib|
            .*\.svg|
            \.cspell\.json
          )$
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier

  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.8.1
    hooks:
      - id: taplo

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.23.1
    hooks:
      - id: toml-sort
        args:
          - --in-place

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.28.0
    hooks:
      - id: check-jsonschema
        name: Check project inventory YAML files
        language: python
        files: docs/software/.*\.yml
        types: [yaml]
        args: ["--schemafile", "./docs/software/project-inventory-schema.json"]

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.6.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.3
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        alias: ec
        exclude: >-
          (?x)^(
            .*\.py
          )$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types:
          - python

  - repo: https://github.com/ComPWA/mirrors-pyright
    rev: v1.1.352
    hooks:
      - id: pyright

  - repo: local
    hooks:
      - id: update-json-schema
        name: Update JSON schemas for project inventories
        entry: export-json-schema
        language: system
        pass_filenames: false
        files: (docs/software/.*\.json|src/pwa_pages/project_inventory.py)

MAINT: update pip constraints and pre-commit
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

DOC: list `ThreeBodyDecays.jl` under frameworks (#217)
  docs/software.ipynb
  docs/software/amplitude-analysis-projects.yml
Due: none

MAINT: update pip constraints and pre-commit (#218)
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .cspell.json
  .pre-commit-config.yaml
  .readthedocs.yml
Due: none

DOC: add Li:2022qff to bibliography (#216)
  docs/bibliography.bib
Due: none

MAINT: implement updates from pre-commit hooks
  .vscode/settings.json
Due: none

MAINT: add PyPA to word list
  .cspell.json
Due: none

MAINT: autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

MAINT: update pip constraints and pre-commit
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
Due: none

MAINT: remove JSON schema for GitHub Actions
  .vscode/settings.json
Due: none

DOC: cite Li in helicity page
  docs/formalisms/helicity.md
Due: none

MAINT: switch to InspireHEP citation keys
  .cspell.json
  docs/bibliography.bib
  docs/dynamics.ipynb
  docs/formalisms/helicity.md
  docs/formalisms/tensor.md
  docs/glossary.md
  docs/introduction.ipynb
Due: none

MAINT: ignore redirect to hindawi.com
  docs/conf.py
Due: mypy

MAINT: simplify RTD `pip` installation\
  .readthedocs.yml
Due: none

MAINT: address linting issues
  src/pwa_pages/project_inventory.py
Due: mypy, update-json-schema

FIX: correctly use `@model_validator`
  src/pwa_pages/project_inventory.py
Due: mypy, update-json-schema

FIX: set `pydantic` v2 as minimal version
  pyproject.toml
Due: none

MAINT: update pip constraints and pre-commit (#220)
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
  .readthedocs.yml
  docs/conf.py
  pyproject.toml
  src/pwa_pages/project_inventory.py
Due: mypy, update-json-schema

MAINT: switch to InspireHEP citation keys (#222)
  .cspell.json
  docs/bibliography.bib
  docs/dynamics.ipynb
  docs/formalisms/helicity.md
  docs/formalisms/tensor.md
  docs/glossary.md
  docs/introduction.ipynb
Due: none

MAINT: clean up `cspell` comment
  docs/formalisms/tensor.md
Due: none

DOC: cite Jacob & Wick
  docs/bibliography.bib
  docs/formalisms/helicity.md
Due: none

DOC: move Li to canonical section
  docs/formalisms/helicity.md
Due: none

DOC: cite Li in helicity page (#221)
  docs/bibliography.bib
  docs/formalisms/helicity.md
  docs/formalisms/tensor.md
Due: none

BREAK: change to Apache license
  LICENSE
  README.md
  docs/index.md
  pyproject.toml
Due: none

BREAK: change to Apache license (#223)
  LICENSE
  README.md
  docs/index.md
  pyproject.toml
Due: none

FIX: remove `types-pkg-resources`
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  pyproject.toml
Due: none

BREAK: drop Python 3.7 support
  .constraints/py3.7.txt
  pyproject.toml
Due: none

MAINT: upgrade syntax to Python 3.8
  src/pwa_pages/repo/_github.py
  src/pwa_pages/repo/_gitlab.py
Due: mypy

DX: drop support for Python 3.7 (#225)
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  pyproject.toml
  src/pwa_pages/repo/_github.py
  src/pwa_pages/repo/_gitlab.py
Due: mypy

MAINT: update pip constraints and pre-commit
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

DX: implement `.envrc` for `direnv`
  .envrc
Due: none

MAINT: address Ruff issues
  docs/conf.py
  src/pwa_pages/repo/_gitlab.py
Due: mypy

DX: switch to Python 3.12 as developer version
  .github/workflows/ci.yml
  .gitpod.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  environment.yml
Due: none
