Repository ComPWA/PWA-pages: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, update-json-schema

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

update-json-schema:
  name: Update JSON schemas for project inventories
  entry: export-json-schema
  language: system
  pass_filenames: false

FIX: relink matplotlib API
  docs/conf.py
Due: mypy

MAINT: update pip constraints and pre-commit
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

MAINT: reduce diff
  .pre-commit-config.yaml
  .vscode/settings.json
Due: none

MAINT: remove redundant notebook cell metadata
  docs/dynamics.ipynb
  docs/introduction.ipynb
  docs/software.ipynb
Due: none

MAINT: update pip constraints and pre-commit
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
Due: none

MAINT: autoupdate constraints and pre-commit config
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

MAINT: apply fixes by pre-commit hooks
  .cspell.json
  .envrc
  .gitattributes
  .gitignore
  .gitpod.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  environment.yml
  pyproject.toml
  tox.ini
Due: none

MAINT: autoupdate constraints and pre-commit config (#226)
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .cspell.json
  .envrc
  .gitattributes
  .gitignore
  .gitpod.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  environment.yml
  pyproject.toml
  tox.ini
Due: none

MAINT: drop support for Python 3.8
  .constraints/py3.8.txt
  pyproject.toml
Due: none

MAINT: modernize Python syntax to Python 3.9
  src/pwa_pages/project_inventory.py
Due: mypy, update-json-schema

MAINT: ignore links to PRD
  docs/conf.py
Due: mypy

MAINT: remove redundant `linkcheck_ignore` item
  docs/conf.py
Due: mypy

MAINT: update links to `pathlib.Path`
  docs/conf.py
Due: mypy

FIX: use `Option` and `Union` in class definition
  src/pwa_pages/project_inventory.py
Due: mypy, update-json-schema

MAINT: drop Python 3.8 support due to EOL (#227)
  .constraints/py3.8.txt
  docs/conf.py
  pyproject.toml
  src/pwa_pages/project_inventory.py
Due: mypy, update-json-schema

MAINT: share `passenv` through base environment
  tox.ini
Due: none

MAINT: move `description` on one line
  tox.ini
Due: none

MAINT: remove `FORCE_COLOR` from `tox`
  tox.ini
Due: none

FIX: do not explicitly run `mypy` in `sty` job
  tox.ini
Due: none

MAINT: update lock files and dev environment
  .constraints/.gitignore
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.9.txt
  .cspell.json
  .editorconfig
  .envrc
  .gitattributes
  .github/release-drafter.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/lock.yml
  .github/workflows/pr-linting.yml
  .github/workflows/release-drafter.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .readthedocs.yml
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  docs/conf.py
  environment.yml
  pyproject.toml
  src/pwa_pages/project_inventory.py
  tox.ini
  uv.lock
Due: mypy, update-json-schema

DX: clean up `tox` configuration
  pyproject.toml
Due: none

MAINT: update lock files
  .pre-commit-config.yaml
Due: none

MAINT: remove redundant comment
  .pre-commit-config.yaml
Due: none

FIX: remove `pre-commit-uv` and `tox` from environment
  pyproject.toml
  uv.lock
Due: none

MAINT: update lock file
  uv.lock
Due: none

DX: support pyright in `tox -e sty`
  pyproject.toml
Due: none

MAINT: rename page to `pwa-pages` (lower case)
  pyproject.toml
Due: none

FIX: make `pwa_pages` a package
  pyproject.toml
  uv.lock
Due: none

FIX: ignore deprecation warning
  pyproject.toml
Due: none

DX: define developer environment with `uv` (#228)
  .constraints/.gitignore
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.9.txt
  .cspell.json
  .editorconfig
  .envrc
  .gitattributes
  .github/release-drafter.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/lock.yml
  .github/workflows/pr-linting.yml
  .github/workflows/release-drafter.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .readthedocs.yml
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  docs/conf.py
  environment.yml
  pyproject.toml
  src/pwa_pages/project_inventory.py
  tox.ini
  uv.lock
Due: mypy, update-json-schema

MAINT: update lock files
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/conf.py
  uv.lock
Due: mypy

FIX: remove developer dependencies from extras
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  CONTRIBUTING.md
  pyproject.toml
  uv.lock
Due: none

DX: define `notebooks` dependency group
  pyproject.toml
  uv.lock
Due: none

MAINT: remove redundant `attrs` dependency
  pyproject.toml
  uv.lock
Due: none

DX: move `ruff` to `dev` dependencies
  pyproject.toml
  uv.lock
Due: none

MAINT: update lock files
  .pre-commit-config.yaml
  uv.lock
Due: none

FIX: install `attrs` as package dependency
  pyproject.toml
  uv.lock
Due: none

MAINT: update lock files
  uv.lock
Due: none

Path conditions:
  mypy: any of: \.py$
  update-json-schema: any of: (docs/software/.*\.json|src/pwa_pages/project_inventory.py)
